In [6]:
import pandas as pd
import csv

schoolfile="../Resources/schools_complete.csv"
SF_df=pd.read_csv(schoolfile)

studentfile="../Resources/students_complete.csv"
StF_df=pd.read_csv(studentfile)

complete_data=pd.merge(StF_df, SF_df, how="left", on=["school_name", "school_name"])
complete_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
#total schools:
total_schools=complete_data["school_name"].nunique()
total_schools

15

In [8]:
#total students:
total_students=complete_data["student_name"].nunique()
total_students

32715

In [10]:
#total budget:
total_budget=SF_df["budget"].sum()
total_budget

24649428

In [13]:
#average math:
avg_math=round(complete_data["math_score"].mean(),1)
avg_math

79.0

In [15]:
#average reading:
avg_reading=round(complete_data["reading_score"].mean(),0)
avg_reading

82.0

In [23]:
#passing math
passing_math=complete_data[complete_data["math_score"]>70].count()["student_name"]
mathpass_perc=round(((passing_math/total_students)*100),1)
mathpass_perc

86.7

In [24]:
#passing reading
passing_reading=complete_data[complete_data["reading_score"]>70].count()["student_name"]
readingpass_perc=round(((passing_reading/total_students)*100),1)
readingpass_perc

99.3

In [26]:
#overall passing
overall_pass=(mathpass_perc + readingpass_perc)/2
overall_pass

93.0

In [28]:
Summary_df=pd.DataFrame({"Total Schools":[total_schools],
                        "Total Students":[total_students],
                        "Total Budget":[total_budget],
                        "Average Math":[avg_math],
                        "Average Reading":[avg_reading],
                        "Percent Passed Math":[mathpass_perc],
                        "Percent Passed Reading":[readingpass_perc],
                        "Overall Percent Passed":[overall_pass]})
Summary_df

,Total Schools,Total Students,Total Budget,Average Math,Average Reading,Percent Passed Math,Percent Passed Reading,Overall Percent Passed
0,15,32715,24649428,79.0,82.0,86.7,99.3,93.0

In [30]:
school_type = SF_df.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [31]:
#Total Students per school
total_students_per_School=complete_data["school_name"].value_counts()
total_students_per_School

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [34]:
#budget per school
budget_per_school = SF_df.groupby(["school_name"]).sum()["budget"]
budget_per_school

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [35]:
#budget per student
budget_per_student = budget_per_school/total_students_per_School
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [36]:
#avg math per school
avg_math_scores = round(complete_data.groupby(["school_name"]).mean()["math_score"],1)
avg_math_scores

school_name
Bailey High School       77.0
Cabrera High School      83.1
Figueroa High School     76.7
Ford High School         77.1
Griffin High School      83.4
Hernandez High School    77.3
Holden High School       83.8
Huang High School        76.6
Johnson High School      77.1
Pena High School         83.8
Rodriguez High School    76.8
Shelton High School      83.4
Thomas High School       83.4
Wilson High School       83.3
Wright High School       83.7
Name: math_score, dtype: float64

In [37]:
#avg reading per school
avg_reading_scores = round(complete_data.groupby(["school_name"]).mean()["reading_score"],1)
avg_reading_scores

school_name
Bailey High School       81.0
Cabrera High School      84.0
Figueroa High School     81.2
Ford High School         80.7
Griffin High School      83.8
Hernandez High School    80.9
Holden High School       83.8
Huang High School        81.2
Johnson High School      81.0
Pena High School         84.0
Rodriguez High School    80.7
Shelton High School      83.7
Thomas High School       83.8
Wilson High School       84.0
Wright High School       84.0
Name: reading_score, dtype: float64

In [44]:
#% passing math
schools_pass_math = complete_data[(complete_data["math_score"]>70)]
schoolstudent_pass_math= schools_pass_math.groupby(["school_name"]).count()["student_name"]
perc_passmath= round((schoolstudent_pass_math/total_students_per_School)*100,1)
perc_passmath

Bailey High School       64.6
Cabrera High School      89.6
Figueroa High School     63.8
Ford High School         65.8
Griffin High School      89.7
Hernandez High School    64.7
Holden High School       90.6
Huang High School        63.3
Johnson High School      63.9
Pena High School         91.7
Rodriguez High School    64.1
Shelton High School      89.9
Thomas High School       90.2
Wilson High School       90.9
Wright High School       90.3
dtype: float64

In [45]:
#% passing reading
schools_pass_reading = complete_data[(complete_data["reading_score"]>70)]
schoolstudent_pass_reading= schools_pass_reading.groupby(["school_name"]).count()["student_name"]
perc_passreading= round((schoolstudent_pass_reading/total_students_per_School)*100,1)
perc_passreading

Bailey High School       79.3
Cabrera High School      93.9
Figueroa High School     78.4
Ford High School         77.5
Griffin High School      93.4
Hernandez High School    78.2
Holden High School       92.7
Huang High School        78.8
Johnson High School      78.3
Pena High School         92.2
Rodriguez High School    77.7
Shelton High School      92.6
Thomas High School       92.9
Wilson High School       93.3
Wright High School       93.4
dtype: float64

In [47]:
#overall percent
overall_perc=(perc_passreading + perc_passmath)/2
overall_perc

Bailey High School       71.95
Cabrera High School      91.75
Figueroa High School     71.10
Ford High School         71.65
Griffin High School      91.55
Hernandez High School    71.45
Holden High School       91.65
Huang High School        71.05
Johnson High School      71.10
Pena High School         91.95
Rodriguez High School    70.90
Shelton High School      91.25
Thomas High School       91.55
Wilson High School       92.10
Wright High School       91.85
dtype: float64

In [58]:
#school summary
school_summary=pd.DataFrame({"School Type":[school_type],
                                 "Total Students":[total_students_per_School],
                                 "Total School Budget":[budget_per_school],
                                  "Budget per student":[budget_per_student],
                                 "Average Math Score per School":[avg_math_scores],
                                 "Average Reading Score per School":[avg_reading_scores],
                                 "% Passing Math per School":[perc_passmath],
                                 "% Passing Reading per School":[perc_passreading],
                                 "Overall Passing rate":[overall_perc]})
school_summary

,School Type,Total Students,Total School Budget,Budget per student,Average Math Score per School,Average Reading Score per School,% Passing Math per School,% Passing Reading per School,Overall Passing rate
0,school_name Huang High School District ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928 C...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.0 Cabr...,school_name Bailey High School 81.0 Cabr...,Bailey High School 64.6 Cabrera High Sch...,Bailey High School 79.3 Cabrera High Sch...,Bailey High School 71.95 Cabrera High Sc...

In [66]:
per_school_summary = school_summary[["School Type", "Total School Budget","Budget per student",
                                         "Average Math Score per School", "Average Reading Score per School", 
                                         "% Passing Math per School", "% Passing Reading per School", 
                                         "Overall Passing rate"]]
per_school_summary

,School Type,Total School Budget,Budget per student,Average Math Score per School,Average Reading Score per School,% Passing Math per School,% Passing Reading per School,Overall Passing rate
0,school_name Huang High School District ...,school_name Bailey High School 3124928 C...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.0 Cabr...,school_name Bailey High School 81.0 Cabr...,Bailey High School 64.6 Cabrera High Sch...,Bailey High School 79.3 Cabrera High Sch...,Bailey High School 71.95 Cabrera High Sc...

In [52]:
top_School=per_school_summary.sort_values(["Overall Passing rate"],ascending = False).head(5)
top_School

,School Type,Total School Budget,Budget per student,Average Math Score Schoolwise,Average Reading Score Schoolwise,% Passing Math Schoolwise,% Passing Reading Schoolwise,Overall Passing rate
0,school_name Huang High School District ...,school_name Bailey High School 3124928 C...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.0 Cabr...,school_name Bailey High School 81.0 Cabr...,Bailey High School 64.6 Cabrera High Sch...,Bailey High School 79.3 Cabrera High Sch...,Bailey High School 71.95 Cabrera High Sc...

In [53]:
bottom_school=per_school_summary.sort_values(["Overall Passing rate"],ascending = False).tail(5)
bottom_school

,School Type,Total School Budget,Budget per student,Average Math Score Schoolwise,Average Reading Score Schoolwise,% Passing Math Schoolwise,% Passing Reading Schoolwise,Overall Passing rate
0,school_name Huang High School District ...,school_name Bailey High School 3124928 C...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.0 Cabr...,school_name Bailey High School 81.0 Cabr...,Bailey High School 64.6 Cabrera High Sch...,Bailey High School 79.3 Cabrera High Sch...,Bailey High School 71.95 Cabrera High Sc...

In [54]:
avg_math_scores_grade = round(complete_data.groupby(["grade"]).mean()["math_score"],1)
avg_math_scores_grade

grade
10th    78.9
11th    79.1
12th    79.0
9th     78.9
Name: math_score, dtype: float64

In [55]:
avg_reading_score_grade = round(complete_data.groupby(["grade"]).mean()["reading_score"],1)
avg_reading_score_grade

grade
10th    81.9
11th    81.9
12th    81.8
9th     81.9
Name: reading_score, dtype: float64

In [57]:
bin = [0, 585, 615, 645, 675]
value = ["<$585", "$585-615", "$615-645", "$645-675"]

per_school_summary["Spending Ranges (Per Student)"] = pd.cut(budget_per_student,bin,labels = value)
per_school_summary

,School Type,Total School Budget,Budget per student,Average Math Score Schoolwise,Average Reading Score Schoolwise,% Passing Math Schoolwise,% Passing Reading Schoolwise,Overall Passing rate,Spending Ranges (Per Student)
0,school_name Huang High School District ...,school_name Bailey High School 3124928 C...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.0 Cabr...,school_name Bailey High School 81.0 Cabr...,Bailey High School 64.6 Cabrera High Sch...,Bailey High School 79.3 Cabrera High Sch...,Bailey High School 71.95 Cabrera High Sc...,NaN

In [76]:
school_summary=pd.DataFrame({"School Type":[school_type],
                                 "Total Students":[total_students_per_School],
                                 "Total School Budget":[budget_per_school],
                                  "Budget per student":[budget_per_student],
                                 "Average Math Score per School":[avg_math_scores],
                                 "Average Reading Score per School":[avg_reading_scores],
                                 "% Passing Math per School":[perc_passmath],
                                 "% Passing Reading per School":[perc_passreading],
                                 "Overall Passing rate":[overall_perc]})
per_school_summary = school_summary[["School Type", "Total School Budget","Budget per student",
                                         "Average Math Score per School", "Average Reading Score per School", 
                                         "% Passing Math per School", "% Passing Reading per School", 
                                         "Overall Passing rate"]]

bins = [0, 585, 615, 645, 675]
names = ["<$585", "$585-615", "$615-645", "$645-675"]


per_school_summary["Spending Ranges (Per Student)"] = pd.cut(budget_per_student,bins,labels = names)

avg_math_score_spending = round(per_school_summary.groupby(per_school_summary["Spending Ranges (Per Student)"]).mean()["Average Math Score per School"],1)
avg_math_score_spending

DataError: No numeric types to aggregate